:root {
    --color-primary: #1992D4;
    --color-secondary: #E2E8F0;
    --color-tertiary: #F0B429;
    --color-text: #9F9F9F;
    --color-white: #FFF;
    --color-black: #000;
    --spacing-base: 8px;

    --spacing-xs: calc(var(--spacing-base) * 1);
    --spacing-sm: calc(var(--spacing-base) * 2);
    --spacing-md: calc(var(--spacing-base) * 3);
    --spacing-lg: calc(var(--spacing-base) * 4);
    --spacing-xl: calc(var(--spacing-base) * 6);

    --font-size-sm: 0.9rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.2rem;
    --font-size-xl: 1.5rem;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles */
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-black);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Layout */
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 4fr;
    grid-template-rows: auto 1fr;
}

/* Sidebar */
.sidebar {
    padding: var(--spacing-md);
    background-color: var(--color-primary);
    color: var(--color-white);
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.sidebar-title {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.sidebar-title h1 {
    font-size: var(--font-size-xl);
}

.sidebar-menu ul {
    font-size: var(--font-size-lg);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.sidebar-menu li {
    display: flex;
    align-items: center;
    gap: var(--font-size-sm);
}

.sidebar-menu a {
    color: var(--color-white);
    text-decoration: none;
}

/* Header */
.header {
    padding: var(--spacing-md);
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.header img {
    border-radius: 50%;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-sm);
}

.search-input input[type="search"] {
    width: 100%;
    padding: var(--spacing-xs) var(--spacing-sm);
    background-color: var(--color-secondary);
    border: none;
    border-radius: var(--spacing-sm);
}

.search-user {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.search-user h3 {
    font-size: var(--font-size-base);
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.user-info img {
    grid-row: 1 / span 2;
}

.user-info p {
    font-size: var(--font-size-sm);
}

.user-info h2 {
    font-size: var(--font-size-lg);
}

/* Buttons */
.user-button {
    display: flex;
    gap: var(--spacing-sm);
}

button {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: var(--spacing-xs) var(--spacing-md);
    border-radius: var(--spacing-sm);
    cursor: pointer;
}

/* Main content section */
.main-content {
    background-color: var(--color-secondary);
    padding: var(--spacing-lg);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: var(--spacing-sm);
}

.card {
    background-color: var(--color-white);
    padding: var(--spacing-md);
    border-radius: var(--spacing-xs);
    box-shadow: 0 0 var(--spacing-xs) rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.main-content h3 {
    margin-bottom: var(--spacing-sm);
}

.project {
    grid-row: 1 / span 2;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--spacing-sm);
}

.project-list .card {
    border-left: var(--spacing-xs) solid var(--color-tertiary);
}

.project-list p {
    flex-grow: 1;
}

.project-icons {
    display: flex;
    justify-content: end;
    gap: var(--spacing-sm);
}

.announcement-item {
    border-bottom: 1px solid var(--color-secondary);
    padding: 0 0 var(--spacing-md) 0;
}

.trending-item {
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;
}